<% include partials/header.ejs %>
<div id="header"></div>


<br><br><br><br><br>
<h2>
  Aircraft in Inventory
</h2>
<a class="btn btn-primary" href="/dataentry" role="button">Add New Listing</a>
<br><br>
<table id="tableList" border="1" padding="5px">
  <tr>
    
    <th>Year</th>
    <th>Manufacturer</th>
    <th>Model</th>
    <th>Price</th>
    <th>Serial Number</th>
    <th>Total Time</th>
    <th>Engine Type</th>
    <th>SMOH</th>
    <th>Inspection</th>
    <th># Seats</th>
    <th>Image URL</th>
      
    
  </tr>
  
  <% rows.forEach(function(row) { %>
      <tr> 
          <td><%= row['year'] %></td>
          <td><%= row['manufacturer'] %></td>
          <td><%= row['model'] %></td>
          <td><%= row['price'] %></td>
          <td><%= row['serialNumber'] %></td>
          <td><%= row['totalTime'] %></td>
          <td><%= row['engineType'] %></td>
          <td><%= row['smoh'] %></td>
          <td><%= row['inspection'] %></td>
          <td><%= row['numberSeats'] %></td>
          <td><img class = "listImage" src = <%= row['imageURL'] %> width = 100 height = 100></td>
          <td> 
            <a id = <%= row['id'] %> class="btn btn-primary" href="/dataentry" role="button">Update</a>
            <a id = <%= row['id'] %> class="btn btn-primary" href="/dataentry" role="button">Delete</a>
          </td>    
          
          
      </tr>
    <% }) %>
  
</table>
<br>

<% include partials/footer.ejs %>