<% include partials/header.ejs %>

      <main>
         <div id="header"></div>
            <div id="searchResultsBlock">
               <div id="searchResultsContainer">
                  <h3 id="adminListTitle">Search results</h3>
                  
                  <table id="tableList" class="table table-striped">
                     <tbody>
                        <% rows.forEach(function(row) { %>
                           <tr>
                              <td id="aircraftDetails">
                                 <div id="searchRow"><div id="searchLabel">Aircraft</div><%= row['manufacturer'] %> <%= row['model'] %></div>
                                 <div id="searchRow"><div id="searchLabel">Engine</div><%= row['engineType'] %></div>
                                 <div id="searchRow"><div id="searchLabel"># of seats</div><%= row['numberSeats'] %></div>
                                 <div id="searchRow"><div id="searchLabel">Price</div><%= row['price'] %></div>
                                 <div id="searchRow"><div id="searchLabel">Serial No.</div><%= row['serialNumber'] %></div>
                                 <div id="searchRow"><div id="searchLabel">Flight hours</div><%= row['totalTime'] %></div>
                                 <div id="searchRow"><div id="searchLabel">SMOH</div><%= row['smoh'] %></div>
                                 <div id="searchRow"><div id="searchLabel">Inspection</div><%= row['inspection'] %></div>
                              <td><img class = "listImage" src = <%= row['imageURL'] %> width = 250</td></td>
                             <td align="bottom"><a class="btn btn-primary" role="button">ADD TO CART</a></td>
                           </tr>
                        <% }) %>
                     </tbody>
                  </table>
              </div>
        </div>
           
        

<% include partials/footer.ejs %>