<% include partials/header.ejs %>

<main>

<div id="header"></div>

<h3 id="adminListTitle">Your Cart</h3>

<table id="tableList" class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Year</th>
        <th scope="col">Manufacturer</th>
        <th scope="col">Model</th>
        <th scope="col">Price</th>
        <th scope="col"></th>
        <th scope="col"></th>

      </tr>
      <% rows.forEach(function(row) { %>
      <tr>
      <th><%= row['year'] %></th>
      <th><%= row['manufacturer'] %></th>
      <th><%= row['model'] %></th>
      <td><%= row['price'] %></td>
      <td><button class="btn btn-delete" type ="button" id= delete_<%= row['id'] %> onclick="deleteCart(event, this);">DELETE</button></td>  
      </tr>
      <% }) %>
      <tr>
        <th></th>
        <th></th>
        <th>Total</th>
        <th><%= total %></th>
      </tr>
    </thead>
    <tbody>
      



    </tbody>
  </table>

<% include partials/footer.ejs %>